# ===== Python =====
__pycache__/
*.py[cod]
*$py.class

# ===== Virtual environments =====
.venv/
venv/
env/
xarita.txt

# ===== Environment variables =====
.env
.env.*

# ===== Logs =====
*.log

# ===== Databases =====
*.db
*.sqlite
*.sqlite3

# ===== IDE / Editor =====
.vscode/
.idea/
*.swp

# ===== OS files =====
.DS_Store
Thumbs.db

# ===== Tests / coverage =====
.coverage
htmlcov/

# ===== Build =====
dist/
build/
*.egg-info/